body{
    font-family: 'Baloo 2', cursive;
}



.portfo{
    color: #4B0082  ;
    font-size: xx-large;
}

.lio{
    color: #4B0082 ;
    font-size:xx-large;
}

.nav-link{
    font-size: large;
}

.search-b{
    background-color: #4B0082;
}

.nahid{
    color: #4B0082;
}
